{% extends "base.html" %}
{% load static %}

{%block Start%}

    {% comment %} <--    ==start Slider section==  
    =======================================--> {% endcomment %}
    <section class="home1-slider top-margin pos-relative">
        <div class="Modern-Slider" id="home1-slider">
            <!-- item -->
            <div class="item">
                <div class="img-fill">
                    <div class="img-area slider-img1"></div>
                    <div class="info">
                        <div class="align-col-left-center">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 text-left">
                                        <h4>Just The Best Place For</h4>
                                        <h3 class="color-d5 fw-700">Beauty & Relaxation</h3>
                                        <h5 class="text-left">Welcome to Time Bachao, where you can relax and enjoy life. A little peace in a crazy world goes a long way.</h5>
                                        <a href="#" class="explore-btn fw-700">Explore now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /item -->

            <!-- item-2 -->
            <div class="item">
                <div class="img-fill">
                    <div class="img-area slider-img2"></div>
                    <div class="info">
                        <div class="align-col-left-center">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 text-left">
                                        <h4>Just The Best Place For</h4>
                                        <h3 class="color-d5 fw-700">Body Masseging</h3>
                                        <h5 class="text-left">Welcome to Time Bachao, Slip into a state of ‘ahh’ with a massage treatment, tailored to you. From sporting injuries to general aches and pains, a therapeutic massage can work wonders with your physical and mental well-being.</h5>
                                        <a href="#" class="explore-btn fw-700">Explore now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /item-2 -->

            <!-- item-3 -->
            <div class="item">
                <div class="img-fill">
                    <div class="img-area slider-img3"></div>
                    <div class="info">
                        <div class="align-col-left-center">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 text-left">
                                        <h4>Just The Best Place For</h4>
                                        <h3 class="color-d5 fw-700">Hair Treatment</h3>
                                        <h5 class="text-left">Every once in a while it's necessary to treat yourself, whether it's indulging in the chocolate-encrusted doughnut you cut out of your diet months ago or spending a luxurious day at the spa. Yet when we pamper ourselves, a hair treatment isn't always top of mind. We often forget about our poor hair, which we subject to heat styling, hair dye and other chemical-laden products.</h5>
                                        <a href="#" class="explore-btn fw-700">Explore now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /item-3 -->

            <!-- item-4 -->
            <div class="item">
                <div class="img-fill">
                    <div class="img-area slider-img4"></div>
                    <div class="info">
                        <div class="align-col-left-center">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 text-left">
                                        <h4>Just The Best Place For</h4>
                                        <h3 class="color-d5 fw-700">Harbal Treatment</h3>
                                        <h5 class="text-left">Welcome to beauty lab, where you can relax and enjoy life. A little peace in a crazy world goes a long way.</h5>
                                        <a href="#" class="explore-btn fw-700">Explore now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /item-4 -->
        </div>
    </section>
    <!-- ======================================= 
        ==End Slider section==  
    =======================================-->


    <!-- ======================================= 
        ==start welcome section==  
    =======================================-->
    <section class="welcome-section pos-relative">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h3 class="color-72 fw-500">Welcome To Time Bachao</h3>
                        <p>The Time Bachao is a luxury beauty & spa solution. The beauty spa strives to deliver top class treatments in a relaxing environment.</p>
                    </div>
                </div>
            </div>
            <!--/row-->

            <div class="row">
                <div class="col-lg-8">
                    <div class="welcome-feature-wrapper expert clearfix">
                        <!--feature-1-->
                        <div class="single-feature float-left ptb-35">
                            <span class="circle"></span>
                            <i class="flaticon-health-care"></i>
                            <div class="feature-content pl-25 pr-20">
                                <h6 class="color-33 fw-500 pb-15">Expert Butician</h6>
                                <div class="divider"></div>
                                <p class="pt-15">we have brought the best Service providers for you</p>
                            </div>
                        </div>

                        <!--feature-2-->
                        <div class="single-feature technology float-left ptb-35">
                            <span class="circle"></span>
                            <i class="flaticon-flask"></i>
                            <div class="feature-content pl-25 pr-20">
                                <h6 class="color-33 fw-500 pb-15">Latest Technology</h6>
                                <div class="divider"></div>
                                <p class="pt-15">Time bachao is working hard to get some new ways to make you feel comfortable. </p>
                            </div>
                        </div>

                        <!--feature-3-->
                        <div class="single-feature certified float-left ptb-35">
                            <span class="circle"></span>
                            <i class="flaticon-graduate-diploma"></i>
                            <div class="feature-content pl-25 pr-20">
                                <h6 class="color-33 fw-500 pb-15">Certified Institute</h6>
                                <div class="divider"></div>
                                <p class="pt-15">As you might have guessed, most designers choose this unit arbitrarily. </p>
                            </div>
                        </div>

                        <!--feature-4-->
                        <div class="single-feature appointment float-left ptb-35">
                            <span class="circle"></span>
                            <i class="flaticon-school-calendar"></i>
                            <div class="feature-content pl-25 pr-20">
                                <h6 class="color-33 fw-500 pb-15">Online Appointment</h6>
                                <div class="divider"></div>
                                <p class="pt-15">Now you can book an appointment just in a few steps according to your choice </p>
                            </div>
                        </div>
                        <!--/feature-->
                    </div>
                    <!--/wrapper-->
                </div>
                <!--/col-->

                <div class="col-lg-4">
                    <div class="welcome-carousel-wrapper pos-relative">
                        <div id="carousel-img">
                            <img src="{% static 'images/welcome-carousel2.jpg'%}" class="img-fluid" alt="welcome-carousel-img">
                            <img src="{% static 'images/welcome-carousel3.jpg'%}" class="img-fluid" alt="welcome-carousel-img">
                            <img src="{% static 'images/welcome-carousel1.jpg'%}" class="img-fluid" alt="welcome-carousel-img">
                        </div>

                        <div id="carousel-text">
                            <p>
                               It is nice finding that place where you can just go and relax.” –Moises Aria
                                <a href="#" class="read-more color-ff fw-700">
                                </a>
                            </p>
                            <p>
                                Your mind will answer most questions if you learn to relax and wait for the answer.” –William Burroughs
                                <a href="#" class="read-more color-ff fw-700"></a>
                            </p>
                            <p>
                              Sometimes the most important thing in a whole day is the rest we take between two deep breaths.” –Etty Hillesum
                                <a href="#" class="read-more color-ff fw-700"></a>
                            </p>
                        </div>
                    </div>
                    <!--/wrapper-->
                </div>
                <!--/col-->
            </div>
        </div>
    </section>

{%endblock%}